*.pyc
.deps
.gitignore
Makefile
Makefile.in
\#*#
aclocal.m4
autom4te.cache
cfgui/upmpdcli-config.pro
compile
config.log
config.status
configure
depcomp
doc/*.html
install-sh
missing
rdpl2stream.tar.gz
src/.dirstamp
src/config.h
src/stamp-h1
uprclbottle.tar.gz
web.tar.gz
