Source: upmpdcli
Section: contrib/sound
Priority: optional
Maintainer: Jean-Francois Dockes <jf@dockes.org>
# note: libexpat1-dev and libcurl-dev are only here because of pkg-config:
# not directly needed for building upmpdcli
Build-Depends: debhelper (>= 9.0.0), dh-systemd, autotools-dev,
               dh-autoreconf, pkg-config,
               libmpdclient-dev, libmicrohttpd-dev, libjsoncpp-dev,
               libexpat1-dev, libcurl4-gnutls-dev,
               qt5-default, qt5-qmake, qtbase5-dev,
               libupnpp6-dev (>= 0.20.0)
Standards-Version: 3.9.8
Homepage: http://www.lesbonscomptes.com/upmpdcli

Package: upmpdcli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, python3, python3-requests
Section: contrib/sound
Description: UPnP Media Renderer front-end to MPD, the Music Player Daemon
 upmpdcli acts as an UPnP Media Renderer on the front-end so that you can
 control it with any UPnP controller like, e.g. Audionet or BubbleUPnP on an
 Android tablet. It uses an MPD instance to actually play the tracks. 
 A typical configuration might have for example, MPD running on a Raspberry
 PI, with upmpdcli on the same host or any other Linux PC on the network.


Package: upmpdcli-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: contrib/sound
Description: GUI configuration editor for upmpdcli.
 upmpdcli-config is a qt-based GUI for editing an upmpdcli configuration file.

Package: scweb
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, ${misc:Depends}
Description: web interface for controlling multiple Songcast Receivers
 scweb is a web front-end to the scctl songcast receiver control command.

Package: upmpdcli-qobuz
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
Description: upmpdcli Qobuz plugin
 upmpdcli-qobuz allows upmpdcli to proxy access to the Qobuz music
 streaming service.

#Package: upmpdcli-tidal
#Architecture: all
#Section: contrib/sound
#Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
#Description: upmpdcli Tidal plugin
# upmpdcli-tidal allows upmpdcli to proxy access to the Tidal music
# streaming service.

Package: upmpdcli-hra
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
Description: upmpdcli highresaudio plugin
 upmpdcli-hra allows upmpdcli to proxy access to the highresaudio
 https://www.highresaudio.com/en music streaming service.

Package: upmpdcli-spotify
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, libspotify12, ${misc:Depends}
Description: upmpdcli Spotify plugin
 upmpdcli-spotify allows upmpdcli to proxy access to the Spotify
 streaming service.

Package: upmpdcli-uprcl
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3 (>= 3.5), python3-requests, python3-recoll,
  python3-waitress, python3-mutagen, ${misc:Depends}
Description: upmpdcli local Media Server plugin
 upmpdcli-uprcl enables a Recoll-based local media server.
