Source: upmpdcli
Section: contrib/sound
Priority: optional
Maintainer: Jean-Francois Dockes <jf@dockes.org>
# note: libexpat1-dev and libcurl-dev are only here because of pkg-config:
# not directly needed for building upmpdcli
# Also may need: qt5-default (if qmake says: could not find a Qt installation of '')
Build-Depends: debhelper (>= 9.0.0), autotools-dev, dh-autoreconf,
			   python3, pkg-config,
               libmpdclient-dev, libmicrohttpd-dev, libjsoncpp-dev,
               libexpat1-dev, libcurl4-gnutls-dev,
               qt5-qmake, qtbase5-dev,
               libupnpp7-dev (>= 0.24.0)
Standards-Version: 3.9.8
Homepage: http://www.lesbonscomptes.com/upmpdcli

Package: upmpdcli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, python3, python3-requests
Section: contrib/sound
Description: UPnP Media Renderer front-end to MPD, the Music Player Daemon
 upmpdcli acts as an UPnP Media Renderer on the front-end so that you can
 control it with any UPnP controller like, e.g. Audionet or BubbleUPnP on an
 Android tablet. It uses an MPD instance to actually play the tracks. 
 A typical configuration might have for example, MPD running on a Raspberry
 PI, with upmpdcli on the same host or any other Linux PC on the network.

Package: upmpdcli-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: contrib/sound
Description: GUI configuration editor for upmpdcli.
 upmpdcli-config is a qt-based GUI for editing an upmpdcli configuration file.

Package: scweb
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, ${misc:Depends}
Description: web interface for controlling multiple Songcast Receivers
 scweb is a web front-end to the scctl songcast receiver control command.

Package: upmpdcli-bbc
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, python3-bs4, python3-feedparser, python3-dateutil,
         ${misc:Depends}
Description: upmpdcli BBC radio plugin
 upmpdcli-bbc allows upmpdcli to retrieve the BBC radio programmes from the web site and listen to
 them.

Package: upmpdcli-hra
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
Description: upmpdcli highresaudio plugin
 upmpdcli-hra allows upmpdcli to proxy access to the highresaudio
 https://www.highresaudio.com/en music streaming service.

Package: upmpdcli-mother-earth-radio
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
Description: upmpdcli Mother Earth Radio plugin
 upmpdcli-mother-earth-radio allows upmpdcli to proxy access to the
 Mother Earth Radio streams.

Package: upmpdcli-qobuz
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
Description: upmpdcli Qobuz plugin
 upmpdcli-qobuz allows upmpdcli to proxy access to the Qobuz music
 streaming service.

Package: upmpdcli-radio-browser
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests,${misc:Depends}
Description: upmpdcli https://radio-browser.info plugin
 upmpdcli-bbc allows you to browse the radio catalog through the Media Server interface and play
 streams. You will need to install the pyradios Python3 module with pip3, it is not packaged at the
 moment. 

Package: upmpdcli-radio-paradise
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests,${misc:Depends}
Description: upmpdcli Radio Paradise plugin
 upmpdcli-mother-earth-radio allows upmpdcli to proxy access to the
 Radio Paradise streams.

Package: upmpdcli-subsonic
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3 ${misc:Depends}
Description: upmpdcli Subsonic plugin
 upmpdcli-subsonic allows upmpdcli to proxy access to a Subsonic or Navidrome server.
 It needs the installation of the subsonic-connector (version 0.2.6) and py-sonic (version 1.0.0) Python modules (not packaged by
 Debian, use Pypi).

Package: upmpdcli-tidal
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, python3-requests, ${misc:Depends}
Description: upmpdcli Tidal plugin. You will need to install the tidalapi Python3 module with pip3,
 it is not packaged at the moment. 

Package: upmpdcli-radios
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3, ${misc:Depends}
Description: upmpdcli radio list export plugin
 upmpdcli-radios exports the upmpdcli OpenHome service radio list through
 the upmpdcli Media Server.

Package: upmpdcli-uprcl
Architecture: all
Section: contrib/sound
Depends: upmpdcli, python3 (>= 3.5), recollcmd, python3-requests, python3-recoll,
  python3-waitress, python3-mutagen, ${misc:Depends}
Description: upmpdcli local Media Server plugin
 upmpdcli-uprcl enables a Recoll-based local media server.
